@model MvcMovie.Models.Product

@{
ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId">
                    <option value=""> Select Category </option>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </select>
            </div>
            
            
            <input type = "file" alt="Image"/>
            <div id="fields"></div>
            <input type="submit" value="Create" class="btn btn-primary" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#CategoryId').change(function () {
            var categoryId = $(this).val();
            $('#fields').empty();
            $.getJSON('/Products/GetFields', { categoryId: categoryId }, function (data) {
                $.each(data, function (index, field) {
                    $('#fields').append('<div class="form-group"><label class="control-label">' + field.name + '</label><input class="form-control" name="Fields[' + field.id + ']" /></div>');
                });
            });
        });
    });
</script>
}
