.product-grid {
  
  padding: 10px; /* Adjust padding for spacing */
  margin: 10px; /* Add spacing between grids */
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, sans-serif; /* Example font family */
  font-size: 12px; /* Example font size */
  color: #211f1f; /* Example font color (dark gray) */
  padding: 10px; /* Add padding for spacing */
  border: 15px solid rgb(66, 66, 172);
  background-color: rgb(136, 160, 227);
  text-align: center;

  /* Remove or adjust margin for spacing */
  margin: 15px 10px; /* Example spacing */
  text-align: center; /* Center content within each tile */
}

.product-item a {
  font-size: 12px; /* Adjust font size for title */
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit text color from parent */
}

.product-title {
  font-size: 12px; /* Adjust font size for title */
  margin-bottom: 5px; /* Add space between title and price */
}
